.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#container {
  position: absolute;
  text-align: center;
}

#arrow {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 10px solid black;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  z-index: 1;
}

#wheel {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: conic-gradient(lightpink 0 120deg, lightblue 0 240deg, lightsalmon 0 360deg);
}
